/* 右边部分*/
.right{
    float:left;
    width: 800px;
    height:500px;
    background-color: rgb(253, 250, 250);
    box-shadow: 5px 5px 5px #888888;
    margin-left:50px;
    opacity: 0.5;
  }
.right>div{
    padding-top: 20px;
    padding-left:20px;
}
  .right>div{
    text-align: center;
  }
  .right>div>h3{
      padding-top: 20px;
      margin-bottom: 20px;
  }
  .right>div>form>#password-1,#password-2{
      height:30px;
      width:300px;
      margin-top:40px;
  }
  .right>div>form>#reset,#submit{
    margin-top: 20px;
    margin-left: 20px;
    height:30px;
    width:50px;
  }