*{
    padding:0;
    margin: 0;
}
body{

     background-image:url("/static/images/12.jpg");
}
/*头部*/
.header{
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0px;
     z-index: 9999;
    background-color: #080808;
}
.header>.header-ul{
    width: 1200px;
    margin: 0 auto;
}
.header>.header-ul>ul{
    margin-top: 20px;
}
.header>.header-ul li{
    list-style: none;
    float:left;
    margin-left: 20px;
}
.header>.header-ul li>a{
    text-decoration: none;
    color:white;
}

/*内容*/
.content{
    margin:100px auto;
    width: 1200px;
    /*height:600px;*/
    /**background-color: green;*/
    /*padding-bottom: 60px;/*等于footer的高度*/ 
}


/*右边部分*/
.right{
    width:600px;
    height:300px;
    /**background-color: red;*/
    display: inline-block;
    
   
}
.right>div{
    width:600px;
    height:200px;
    background-color: #f5f5f5;
    border-radius: 10px; 
    /**box-shadow: 0 0 20px rgba(0,0,0,0.8);   */
    box-shadow: 1px 1px 5px rgba(97,97,97,.48);
    padding-left: 20px;
    margin-top: 26px;
}
.right>div .p1{
    width:600px;
    height:128px;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 5;
    
}
.right>div>a{
    display: inline-block;
    padding-top:15px;
    text-decoration:none;
    color:black;
}
.right>div>a:hover{
    color:skyblue;
}
.right>div .content-span{
    display: block;
    margin-top:20px;
}
.right>div .content-span-footer{
    display: block;
    margin-top:10px;
    background-color:#080808;
    height:25px;
    color:white;
    border-bottom-right-radius:6px;
}

/*左边部分*/
.left{
    width:500px;
    height:300px;
    margin-left:20px;
    /*background-color: gray;*/
    float:right;
   
}

.left>div{
    width:500px;
    height:300px;
    background: #1f1f1f;
    margin-top:26px;
}
.left>div>p{
    background: #191818;
    color:white;
    height:50px;
}
.left>div>a{
    display:inline-block;
    margin-top: 20px;
    margin-left: 20px;
    color:white;
    text-decoration: none;
}

.left>div>p>span{
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
}
.left>div>ul>li{
    list-style: none;
    float: left;
    margin-left:20px;
}
.left>div>.left-ul>li>a{
    color:black;
    text-decoration: none;
    font-size: 33.6677px;
}
.left>.left-div2>ul>li{
    list-style: none;
     margin-top: 10px;
}
.left>.left-div2>ul>li>a{
    color:white;
    text-decoration: none;
    font-size: 17px;
    
}
.content>.right>p{
    margin-top: 20px;
    margin-left:6px;
}
.content>.right>p>a>button{
    margin-left:-6px;
    width:30px;
    height:30px;
}

/* 底部*/
.footer{
    width:100%;
    height:60px;
    /*background-color: #191818;*/
}
.footer>div{
    width: 1200px;
    padding-top:20px;
    margin: 0 auto;
}
.footer>div>span{
    color: black;
}



